.folder {
	margin-top: 5px;
	background: #3b3b3b;
	display: flex;
	justify-content: space-between;
	width: 300px;
	cursor: pointer;
}

/* .folder > .file {
	margin: 0 5px 2px 0;
} */

.file-group {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	width: 300px;
}

.file {
	display: flex;
	flex-direction: column;
}

.actions {
	display: flex;
	gap: 5px;
	cursor: pointer;
}

button {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
